<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add 
      name="NorthwindConnectionString"
      connectionString="Data Sourse=serverName;InitialCatalog=Northwind;Persist Security Info=True;UserID=userName;Password=password"
      providerName="System.Data.SqlClient"
      />
  </connectionStrings>
</configuration>